tiktoken==0.6.0
numexpr==2.10.2
prettytable==3.15.1
pexpect==4.9.0
Pygments==2.19.1
pycodestyle==2.12.1
pandas==2.2.3
CoLT5-attention==0.10.20
huggingface-hub==0.29.2
tomli==2.2.1
vector_quantize_pytorch==1.14.1
pytest==8.0.2
async-timeout==5.0.1
idna==3.10
traitlets==5.14.3
nest-asyncio==1.6.0
datasets==2.19.2
multidict==6.1.0
ptyprocess==0.7.0
rich==13.7.0
pillow==11.1.0
pyzmq==26.2.1
skypilot==0.4.1
matplotlib==3.9.4
parso==0.8.4
importlib_metadata==8.6.1
tqdm==4.66.2
urllib3==1.26.20
torch==2.2.0
zipp==3.21.0
zetascale==2.2.7
numpy==1.25.2
requests==2.32.3
frozenlist==1.5.0
timm==0.9.16
torchvision==0.17.0
pydantic==2.10.6
cryptography==44.0.2
markdown-it-py==3.0.0
bitsandbytes==0.42.0
seaborn==0.13.2
GitPython==3.1.44
jedi==0.19.2
joblib==1.4.2
einx==0.3.0
qwen==0.1.1
time-machine==2.16.0
huggingface==0.0.1
jupyter_client==8.6.3
iniconfig==2.0.0
asttokens==3.0.0
sentry-sdk==2.22.0
scikit-learn==1.6.1
protobuf==5.29.3
exceptiongroup==1.2.2
argparse==1.4.0
click==8.1.8
appnope==0.1.4
fsspec==2024.3.1
decorator==5.2.1
TorchFix==0.7.0
transformers==4.38.2
cffi==1.17.1
jsonschema==4.23.0
beartype==0.17.2
executing==2.2.0
pyasn1==0.6.1
stack-data==0.6.3
debugpy==1.8.13
threadpoolctl==3.5.0
einops-exts==0.0.4
multiprocess==0.70.16
kiwisolver==1.4.7
jupyter_core==5.7.2
python-dotenv==1.0.1
xxhash==3.5.0
referencing==0.36.2
jmespath==1.0.1
contourpy==1.3.0
regex==2024.11.6
propcache==0.3.0
loguru==0.7.3
gitdb==4.0.12
psutil==7.0.0
jsonschema-specifications==2024.10.1
mdurl==0.1.2
botocore==1.37.9
fonttools==4.56.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
local-attention==1.9.3
yarl==1.18.3
boto3==1.37.9
awscli==1.38.9
charset-normalizer==3.4.1
mccabe==0.7.0
ipython==8.18.1
wcwidth==0.2.13
packaging==24.2
wandb==0.19.8
colorama==0.4.4
pip==21.2.4
torchsummary==1.5.1
accelerate==0.27.2
certifi==2025.1.31
lion-pytorch==0.1.2
setproctitle==1.3.5
tzdata==2025.1
pydantic_core==2.27.2
libcst==1.5.1
pycparser==2.22
scipy==1.9.3
cycler==0.12.1
torchdiffeq==0.2.3
PuLP==3.0.2
Jinja2==3.1.6
wheel==0.45.1
pluggy==1.5.0
pyarrow==19.0.1
dill==0.3.8
comm==0.2.2
rsa==4.7.2
pure_eval==0.2.3
tornado==6.4.2
h5py==3.13.0
s3transfer==0.11.4
pyparsing==3.2.1
docker-pycreds==0.4.0
tokenmonster==1.1.12
einops==0.7.0
networkx==3.2.1
sympy==1.13.1
aiosignal==1.3.2
typing_extensions==4.12.2
pendulum==3.0.0
PyYAML==6.0.2
matplotlib-inline==0.1.7
smmap==5.0.2
sentencepiece==0.2.0
safetensors==0.5.3
rpds-py==0.23.1
typing==3.7.4.3
tokenizers==0.15.2
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipykernel==6.29.5
frozendict==2.4.6
pytz==2025.1
annotated-types==0.7.0
setuptools==58.0.4
filelock==3.17.0
aiohappyeyeballs==2.5.0
eval_type_backport==0.2.2
cachetools==5.5.2
sklearn==0.0
six==1.17.0
pyarrow-hotfix==0.6
importlib_resources==6.5.2
flake8==7.1.2
pyflakes==3.2.0
attrs==25.1.0
aiohttp==3.11.13
docutils==0.16
tabulate==0.9.0
MarkupSafe==3.0.2
